.App {
  text-align: center;
  background-image: url(./images/background.jpg);
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  background-repeat: round;
  background-size: contain;
  top: 0;
  left: 0;
  font-family: 'Neuton', serif;
  color: #272525;
}

.card{
    max-width: 20rem;
    align-self: center;
}

.navbar-brand{
    color: #6f928c;
    font-size: 25px;
}

.input-group {
    padding: 0 10px;
}

p{
    color: #6f928c;
}

.btn {
    margin-bottom: 20px;
}

.paragraph {
    margin: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
